.App {
	text-align: center;
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: row;
	align-items: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

#Main-screen {
	background-color: #282c34;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

#Main-and-do {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-left: 13%;
}

#sideBarDiv {
	margin: 50px;
	height: 80vmin;
	width: 33%;
	overflow-y: scroll;

	background-color: rgb(237, 241, 241);
}

#sideBarIconDiv {
	height: 90px;
	width: 100%;
	background-color: rgb(237, 241, 241);
}

#iconButton {
	height: 90px;
	width: 100%;
	display: center;
	background-color: rgb(237, 241, 241);
}
